<p *ngIf="!game"><em>Loading...</em></p>


<h2>Player Cards</h2>
<div class="container">
  <img width="125px" *ngFor="let c of game.playerHand" src="../assets/cards/{{c.name}}{{c.color}}.png">
</div>


<h2>Dealer Cards</h2>
<div class="container">
  <img width="125px" *ngFor="let c of game.dealerHand" src="../assets/cards/{{c.name}}{{c.color}}.png">
</div>

<br>
<p>Player has: {{game.playerHandCount}}, Dealer has: {{game.dealerHandCount}}</p>

<button (click)="Command('Hit')">Hit</button>
<button (click)="Command('Stand')">Stand</button>
<button (click)="Command('New')">New game</button>


<h1>Winner is: {{game.winner}}</h1>
