<h1>21 game</h1>

<p>This is an MVC example of blackjack game.</p>
<p>The goal was to write the game in ASP.net core which handles all the logic.
  For view angular was chosen, which connects through REST api to controller.</p>


<ul>
  <li><strong>ASP.NET Core</strong> for Model and Controller</li>
  <li><strong>Angular</strong> for View</li>
</ul>
